:root{

    --colorheader:#000;
    --colorNav:#0000008C ;
    --colorLetrasHeader:#fff; 
    --cololinks:#cb3234;
    --hover-links:orange;
    --bottom-icono: 1.5rem;
    --color-icono:orange;
    --width-icono: 8.5rem ;
    --heigth-icono: 7rem ;
    --radio-icono:50%;
}
html{
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: var(--colorLetrasHeader);

}

header{
    width: 100%;
    height: 5rem;
    background-color: var(--colorheader);
    color: var(--colorLetrasHeader);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.espacio {
    width: 25%;
    height: 100%;
}

.espacio-vacio{
    height: 10rem;
    width: 100%;
}

h1{
    margin: 0;
}

h2{
    text-align: center;
}


/*aside */

aside{
    position: fixed;
    z-index: 999;
    bottom: var(--bottom-icono) ;
    right: 1rem ;
    width: var(--width-icono);
    height:var(--heigth-icono);
    background-color: var(--color-icono);
    border-radius: var(--radio-icono) ;
}


/*nav*/

.input-nav{
    display: none;
}

.toggle-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

span::before,span::after {
content: "";
display: block;
background-color: var(--colorheader);
width: 5rem;
height: 2px;
margin-bottom: 0.5rem;

}

section{
    height: 50vh;
}

.nav{
    display: none;
}


.nav-estilo {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: var( --colorNav);
    display: flex;
    flex-direction: column;
    justify-content: center;
}




a{
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: var(--colorLetrasHeader);
    text-decoration: none;

}

a:hover,a:focus {
    background-color: var(--hover-links);
}

/*reloj*/

.reloj{
    display: none;
    text-align: center;
}
.contenedor-botones-reloj{
    display: flex;
    justify-content: center;
}

.btn{
    padding: 1rem;
    border-radius: 5%;
    margin-left: 0.5rem;
}

.contenedor-reloj{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*Evento teclado*/
#seccion-2{

    display: flex;
    flex-direction: column;
  
}
#canvas{
    margin: 0 auto;
    width: 50%;
    height: 20rem;
    border: 1px solid var(--colorheader) ;
    background-color: var(--color-icono);
}

/*CUENTA REGRESIVA*/

.visor-cuenta-regresiva{
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
    border: 2px solid orange;
    display: flex;
}

.cuenta-regresiva{
    display: inline-block;
    margin:  0 auto;
    
   
}

.iconoSubir{
    transition: all 0.2 ease-in-out;
}

/*Salto hacia arriba*/
.icono-subir{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #000;
    position: fixed;
    right: 12rem ;
    bottom: var(--bottom-icono) ;
    background-color: var(--color-icono);
    width: var(--width-icono) ;
    height: var(--heigth-icono);
    border-radius: var(--radio-icono);
}

/*Icono modo oscuro*/
.icono-modo-oscuro{

    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    position: fixed;
    bottom: var(--bottom-icono);
    left: 1rem;
    width: var(--width-icono);
    height: var(--heigth-icono);
    border-radius: var(--radio-icono);
    background-color: var(--color-icono);
    outline: none;
}
